@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-appearance: none;
    appearance: none;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .line-clamp-2 {
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }
} 